<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mbesha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mbesha">
        <activity android:name=".sendtoMshwari"></activity>
        <activity android:name=".Mshwari" />
        <activity android:name=".buyOtherNo" />
        <activity android:name=".airtimeAMT" />
        <activity android:name=".ATMagentno" />
        <activity android:name=".enterAgentno" />
        <activity android:name=".enterphone" />
        <activity android:name=".entername" />
        <activity android:name=".MyAccount" />
        <activity android:name=".LipaMPESA" />
        <activity android:name=".LoansSavings" />
        <activity android:name=".BuyAirtime" />
        <activity android:name=".WithdrawCash" />
        <activity android:name=".SendMoney" />
        <activity android:name=".SafListActivity" />
        <activity android:name=".MPESAListActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>